pathlib2==2.3.5
numpy==1.16.2
pandas==0.24.2
sklearn==0.0
tensorboard==2.1.0
tensorflow==2.5.3
tensorflow-docs==0.0.0
tensorflow-estimator==2.1.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0